@font-face {
  font-family: 'iconfont';  /* Project id 3782876 */
  src: url('//at.alicdn.com/t/c/font_3782876_1j7e3mdaqeu.woff2?t=1669002814064') format('woff2'),
       url('//at.alicdn.com/t/c/font_3782876_1j7e3mdaqeu.woff?t=1669002814064') format('woff'),
       url('//at.alicdn.com/t/c/font_3782876_1j7e3mdaqeu.ttf?t=1669002814064') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucangxuanzhong:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-danmu:before {
  content: "\e624";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-shipinbofangliang:before {
  content: "\e606";
}

.icon-bilibili:before {
  content: "\e6b4";
}

