@font-face {
  font-family: "iconfont"; /* Project id 3782876 */
  src: url('iconfont.woff2?t=1669001648863') format('woff2'),
       url('iconfont.woff?t=1669001648863') format('woff'),
       url('iconfont.ttf?t=1669001648863') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucangxuanzhong:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-danmu:before {
  content: "\e624";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-shipinbofangliang:before {
  content: "\e606";
}

.icon-bilibili:before {
  content: "\e6b4";
}

